body {
  height: 100%;
  line-height: 1;
  font-family: "Montserrat";
  font-style: normal;
  color: #1e376a;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  background: #f5f7ff;
  display: flex;
  flex-direction: column;
}
._container {
  margin: 0 auto;
  max-width: 1170px;
  padding: 0 15px;
  box-sizing: content-box;
  /*border: 1px solid black;*/
}
.header-block {
  color: #1e376a;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;
}

/*-----------------------------header----------------------------------------*/
.header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50;
}
.header__container {
  display: flex;
  min-height: 114px;
  align-items: center;
}

.header__logo {
}
.header__menu {
  margin: 0 0 0 116px;
}
@media (max-width: 992px) {
  .header__menu {
    margin: 0 0 0 80px;
  }
}
@media (max-width: 767px) {
  .header__menu {
    margin: 0 0 0 50px;
  }
}
@media (max-width: 479px) {
  .header__menu {
    margin: 0 0 0 20px;
  }
}
.menu {
  padding: 5px 0;
}
.menu__list {
  display: flex;
  flex-wrap: wrap;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
}
.menu__item:not(:last-child) {
  margin: 0 50px 0 0;
}
.invitation {
  color: #4c68ef;
}
/*-------------------------------------------------------------------*/

/*---------------------------------Page------------------------------*/

.page {
  flex: 1 1 auto;
}
.main-block__body {
  position: relative;
  padding: 154px 0 425px 0;
  max-width: 850px;
}
.main-block__title {
  font-weight: 700;
  font-size: 42px;
  line-height: 62px;
  margin-bottom: 30px;
}
.main-block__subtitle {
  font-weight: 400;
  font-size: 20px;
  line-height: 36px;
  margin-bottom: 44px;
}
.main-block__buttons {
  display: inline-flex;
  gap: 40px;
  margin-bottom: 50px;
}
.main-block__button__color,
.button-color {
  background: linear-gradient(
    173.48deg,
    #2be9a3 7.91%,
    #07cdbf 56.39%,
    #00c7c5 66.53%,
    #09c7ca 74.43%,
    #21c9d8 89.08%,
    #48cbee 107.12%,
    #66ccff 119.52%
  );
  box-shadow: 0px 22px 36px rgba(1, 200, 197, 0.3);
  border-radius: 12px;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  color: #ffffff;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0 36px;
  min-height: 56px;
}
.main-block__button {
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  display: flex;
  align-items: center;
  color: #4c68ef;
}

.main-block__text {
  display: flex;
  max-width: 600px;
  flex-wrap: wrap;
}
.main-block__text__top {
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  margin-right: 229px;
}
.main-block__text__bottom {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
}
.main-block__text__bottom:not(:last-child) {
  margin: 0 40px 0 0;
}

/*-----------------------------------------------------------------------------*/

/*--------------------------------------page-information----------------------------*/

.page__information {
}
.information {
}
.information__container {
}
._container {
}
.information__body {
  display: flex;
  margin: 0 -15px;
  gap: 30px;
}
.information__item {
  flex: 1 1 0;
  background: linear-gradient(0deg, #ffffff 0%, #f5f7ff 100%);
  box-shadow: 0px -8px 0px #f1f3ff;
  border-radius: 24px;
}
.item-information {
}
.item-information__title {
  font-weight: 700;
  padding: 30px 0 12px 30px;
  font-size: 24px;
  line-height: 38px;
  color: #4c68ef;
}
.item-information__text {
  padding: 0 0 50px 30px;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #1e376a;
}
/*--------------------------------------------------------------------------------------------------------*/

/*-------------------------------------page-services-----------------------------------------------------*/

.page__services {
}
.services {
}
.services__container {
}
._container {
}
.services__header {
  display: flex;
  justify-content: center;
  /*border: 1px solid black;*/
  padding: 120px 0 56px 0;
}

.header-block__title {
}
.services__body {
  margin: 0 -15px 0 -15px;
}

.services__item {
  display: flex;
  background: #ffffff;
  box-shadow: 0px 14px 50px rgba(132, 154, 182, 0.12);
  border-radius: 24px;
}

.img1 {
  padding: 15px 47px 18px 50px;
}
.img2 {
  padding: 13px 89px 13px 48px;
}
.img3 {
  padding: 39px 58px 23px 50px;
}
.img4 {
  padding: 13px 83px 13px 71px;
}
.img5 {
  padding: 49px 63px 48px 71px;
}

.services__text {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #1e376a;
  align-self: center;
}

.services__number {
  flex-grow: 1;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  color: #4c68ef;
  text-align: right;
  padding: 30px 30px 0 0;
}

/*-----------------------------------------------------------------------------------------------------------*/

/*--------------------------------------------page-learn------------------------------------------------------*/

.learn__header {
  margin: 0 -15px 0 -15px;
  padding: 264px 0 129px 0;
}
.learn__body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 -15px 0 -15px;
}

.page__learn {
}
.learn {
}
.learn__container {
}
._container {
}

.header-block {
}

.learn__item {
  width: 48%;
  margin: 60px 0 0 0;
}
.learn__number {
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;
  color: #4c68ef;
  padding-bottom: 10px;
}
.learn__title {
  padding-top: 30px;
  padding-bottom: 12px;
  font-weight: 700;
  font-size: 24px;
  line-height: 38px;
  color: #1e376a;
}
.learn__subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #1e376a;
}

/*---------------------------------------------learn__body__color-------------------*/

.learn-color {
  margin: 92px -15px 0 -15px;
  background: linear-gradient(5.94deg, #6378da 5.81%, #8c9ce4 94.86%);
  border-radius: 50px;
  color: #ffffff;
}
.learn__header__color {
  color: #fff;
  padding: 120px 0 71px 100px;
}
.learn-color__block {
  display: flex;
  padding-bottom: 67px;
}
.learn-color__item {
  flex-grow: 1;
  color: #ffffff;
  border-left: 3px solid rgba(255, 255, 255, 0.5);
  padding-left: 16px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  margin-left: 100px;
}
.learn__button {
  margin: 0 0 120px 100px;
}

/*------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------*/
/*----------------------------------------------page-program---------------------------------*/

.program__header {
  padding: 181px 0 60px 0;
  text-align: center;
}
.program__body {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.program__item {
  display: flex;

  min-height: 72px;
  border-radius: 24px;
  margin-bottom: 10px;
}
.program__number {
  border-top-left-radius: 24px;
  border-bottom-left-radius: 24px;
  padding-right: 29px;
  padding-left: 35px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  flex-grow: 0;
  color: #ffffff;
  background: #a7b5f2;
  display: flex;
  align-items: center;
}
.namber10 {
  padding: 0 26px 0 28px;
}
.program__title {
  padding: 18px 0 18px 30px;
  background: #f5f7ff;
  flex-grow: 1;
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #1e376a;
}
.program__img {
  flex-grow: 0;
  padding: 16px 30px 16px 0;
}

/*--------------------------------------------------------------------------------*/

/*---------------------------------------------------page__autors-------------------*/

.autors__header {
  padding-top: 120px;
}
.autors__body {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.block1 {
  display: flex;
  gap: 60px;
}
.block1-item__img {
  padding-top: 113px;
  /*flex-basis: 23%;*/
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
}

.block1-item__description {
  padding-top: 113px;
}
.block1-item__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 38px;
  color: #1e376a;
}
.block1-item__subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #1e376a;
  margin-bottom: 43px;
}
.block1-item__list {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  list-style-image: url(/img/el-list.png);
  color: #1e376a;
}
.block1-item__link {
  list-style: none;
  list-style-image: url(/img/el-list.png);
}

.block2 {
  padding-top: 113px;
  display: flex;
  justify-content: space-between;
}
.block2-item {
}
.block2-item__title {
  background: #ffffff;
  text-align: center;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  color: #1e376a;
  padding-top: 45px;
}
.block2-item__subtitle {
  background: #ffffff;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #1e376a;
  padding: 8px 0 50px 0;

  box-shadow: 0px 14px 50px rgba(132, 154, 182, 0.12);
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
}

/*-------------------------------------------------------------------------------------*/

/*---------------------------------------------------page__cases-----------------------*/

.page__cases {
}
.cases {
}
.cases__container {
}
._container {
}
.cases__header {
  padding: 120px 0 50px 0;
}
.header-block {
}
.header-block__title {
}
.cases__body {
}
.cases-slider {
}
.slider {
}
.slider__item {
  display: flex;
  background: #ffffff;
  box-shadow: 0px 70px 80px rgba(52, 69, 134, 0.05);
  border-radius: 50px;
}
.slider__img {
  padding: 100px 0 186px 100px;
}
.slider__text {
  flex-grow: 1;
}
.slider__title {
  padding: 132px 0 0 46px;
  /*border: 1px solid black;*/
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;
  color: #1e376a;
}
.slider__subtitle1 {
  padding: 30px 0 0 46px;
  font-weight: 700;
  font-size: 16px;
  line-height: 28px;
  color: #4c68ef;
}
.slider__subtitle2 {
  padding: 4px 0 0 46px;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  color: #1e376a;
}
.slider__block1 {
  display: flex;
}
.slider__text1 {
  padding: 30px 0 0 46px;
  font-weight: 700;
  font-size: 16px;
  line-height: 28px;
  color: #4c68ef;
}
.slider__block2 {
  display: flex;
}
.slider__text2 {
  padding: 4px 0 0 46px;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #1e376a;
}
.slider-text2 {
  padding-left: 53px;
}
/*------------------------------------------------------------------------------*/

/*----------------------------------------------page-reviews--------------------*/

.page__reviews {
}
.reviews {
}
.reviews__container {
}
.reviews__header {
  /*border: 1px solid black;*/
  text-align: center;
  padding-top: 265px;
}
.reviews__body {
}
.reviews__slider {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.reviews__img {
  padding: 57px 0 25px 0;
}
.reviews__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 38px;
  color: #1e376a;
  padding-bottom: 6px;
}
.reviews__subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #1e376a;
  padding-bottom: 48px;
}
.reviews__text {
  min-width: 690px;
  min-height: 144px;
  /* border: 1px solid black; */
  font-weight: 400;
  font-size: 20px;
  line-height: 36px;
  color: #1e376a;
}
/*---------------------------------------------------------------------------*/
/*----------------------------------------------page__apply------------------*/

.page__apply {
}
.apply {
}
.apply__container {
}
._container {
}
.apply__body {
  margin-top: 200px;
  background: linear-gradient(5.94deg, #6378da 5.81%, #8c9ce4 94.86%);
  border-radius: 50px;
  display: flex;
  flex-wrap: wrap;
}
.apply-body {
}
.apply-body__left {
  /* border: 1px solid black; */
  width: 55%;
}
.apply-body__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;
  color: #ffffff;
  padding: 120px 0 63px 100px;
}
.apply-body__left__block {
  margin-left: 100px;
  margin-bottom: 134px;
  border-left: 3px solid rgba(255, 255, 255, 0.5);
  /* border: 1px solid black; */
}
.apply-body__left__item:not(:last-child) {
  margin-bottom: 24px;
}
.apply-body__left__item {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  padding-left: 24px;
}
.apply-body__right {
  width: 45%;
}

.apply-body__subtitle {
  padding: 197px 0 22px 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
}
.apply-body__right__item {
  max-width: 330px;
  /* border: 1px solid black; */
}
input {
  background: #94a4ed;
  border-radius: 12px;
  width: 100%;
  font-size: 13px;
  padding: 12px 0 16px 24px;
  margin-bottom: 14px;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
}
::-webkit-input-placeholder {
  color: #f9fafe;
}
.apply-body__right__button {
  background: linear-gradient(
    173.48deg,
    #2be9a3 7.91%,
    #07cdbf 56.39%,
    #00c7c5 66.53%,
    #09c7ca 74.43%,
    #21c9d8 89.08%,
    #48cbee 107.12%,
    #66ccff 119.52%
  );
  box-shadow: 0px 22px 36px rgba(1, 200, 197, 0.3);
  border-radius: 12px;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  color: #ffffff;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 56px;
}
.apply__title {
  padding: 120px 18px 122px 18px;
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;
  text-align: center;
  color: #1e376a;
}
/*---------------------------------------------------------------------------*/
/*----------------------------------------footer__inf-block-------------------*/
.footer {
}
.footer__inf-block {
}
.inf-block {
}
.inf-block__body {
  background: #1e376a;
  padding-bottom: 230px;
}
.inf-block__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;
  color: #ffffff;
  padding: 120px 0 88px 135px;
}
.inf-block__data {
  display: flex;
  padding-bottom: 28px;
}
.inf-block__img {
  padding: 0 0 0 140px;
}
.inf-block__text {
  font-weight: 700;
  font-size: 24px;
  line-height: 38px;
  color: #ffffff;
}
/*--------------------------------------------------------------------------*/
/*-------------------------------------------------footer__question----------*/
.footer__question {
}
.question {
}
.question__container {
}
._container {
}
.question__body {
}
.question-body {
  margin-top: -128px;
  background: #ffffff;
  box-shadow: 0px 70px 80px rgba(52, 69, 134, 0.05);
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.question-body__title {
  text-align: center;
  padding: 120px 0 10px 0;
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;
  color: #1e376a;
}
.question-body__subtitle {
  font-weight: 400;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  color: #1e376a;
  padding-bottom: 40px;
}
.question-body__img {
}
.question-body__name {
  padding: 30px 0 6px 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 38px;
  color: #1e376a;
}
.question-body__description {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #1e376a;
  padding-bottom: 43px;
}
.question-body__contact {
}
.body-contact {
  display: flex;
  align-items: center;
  padding-bottom: 122px;
}
.body-contact__img {
  padding-left: 65px;
}
.body-contact__text {
  padding-left: 16px;
}
