
body {
  height: 100%;
  line-height: 1;
  font-family: "Montserrat";
  font-style: normal;
  color: #1E376A;
}
.wrapper {
  min-height: 100%;
  overflow: hidden;
  background: #f5f7ff;
  display: flex;
  flex-direction: column;
 
  
  /*border: 1px solid black;*/
}
._container {
  margin: 0 auto;
  max-width: 1170px;
  padding: 0 15px;
  box-sizing: content-box;
  border: 1px solid black;
  
}


/*-----------------------------header----------------------------------------*/
.header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50;
  
  }
.header__container {
  display: flex;
  min-height: 114px;
  align-items: center;
  
}



.header__logo {
  
  
}
.header__menu {
  margin: 0 0 0 116px;
   
}
@media (max-width: 992px) {
  .header__menu {
    margin: 0 0 0 80px;
  }
}
@media (max-width: 767px) {
  .header__menu {
    margin: 0 0 0 50px;
  }
  
}
@media (max-width: 479px) {
  .header__menu {
    margin: 0 0 0 20px;
  }
  
}
.menu {
  padding: 5px 0;
}
.menu__list {
  display: flex;
  flex-wrap: wrap;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  
}
.menu__item:not(:last-child) {
  margin: 0 50px 0 0;
}
.invitation {
  color: #4C68EF;
}
/*-------------------------------------------------------------------*/

/*---------------------------------Page------------------------------*/

.page {
  flex: 1 1 auto;
}
.main-block__body {
  position: relative;
  padding: 154px 0 425px 0;
  max-width: 850px;
  
}
.main-block__title {
  font-weight: 700;
  font-size: 42px;
  line-height: 62px;
  margin-bottom: 30px;
}
.main-block__subtitle {
font-weight: 400;
font-size: 20px;
line-height: 36px;
margin-bottom: 44px;
}
.main-block__buttons {
display: inline-flex;
gap: 40px;
margin-bottom: 50px;
}
.main-block__button__color {
background: linear-gradient(173.48deg, #2BE9A3 7.91%, #07CDBF 56.39%, #00C7C5 66.53%, #09C7CA 74.43%, #21C9D8 89.08%, #48CBEE 107.12%, #66CCFF 119.52%);
box-shadow: 0px 22px 36px rgba(1, 200, 197, 0.3);
border-radius: 12px;
font-weight: 600;
font-size: 16px;
line-height: 28px;
color: #FFFFFF;
display: flex;
justify-content: center;
align-items: center;
padding: 0 36px;
min-height: 56px;
}
.main-block__button {
font-weight: 600;
font-size: 16px;
line-height: 28px;
display: flex;
align-items: center;
color: #4C68EF;

}

.main-block__text {
  display: flex;
  
  max-width: 600px;
  flex-wrap: wrap;
  
}
.main-block__text__top {
  font-weight: 600;
font-size: 16px;
line-height: 28px;
margin-right: 229px;
}
.main-block__text__bottom {
  font-weight: 700;
font-size: 20px;
line-height: 36px;

}
.main-block__text__bottom:not(:last-child) {
  margin: 0 40px 0 0;
}

/*-----------------------------------------------------------------------------*/

/*--------------------------------------page-information----------------------------*/



.page__information {
}
.information {
}
.information__container {
}
._container {
}
.information__body {
  display: flex;
  margin: 0 -15px;
  gap: 30px;
}
.information__item {
flex: 1 1 0;
border: 1px solid black;
background: linear-gradient(0deg, #FFFFFF 0%, #F5F7FF 100%);
box-shadow: 0px -8px 0px #F1F3FF;
border-radius: 24px;
}
.item-information {
}
.item-information__title {
font-weight: 700;
padding: 30px 0 12px 30px;
font-size: 24px;
line-height: 38px;
color: #4C68EF;

}
.item-information__text {
  padding: 0 0 50px 30px;
  font-weight: 400;
font-size: 16px;
line-height: 28px;
color: #1E376A;
}



















.h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;
  color: #1e376a;
  padding: 0;
  margin: 0;
}
.h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 38px;
  color: #1e376a;
  padding: 0;
  margin: 0;
}
.h5 {
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  color: #1e376a;
  padding: 0;
  margin: 0;
}
.h4 {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #1e376a;
  padding: 0;
  margin: 0;
}


}
.main-dataPlace {
  display: flex;
  flex-flow: column wrap;
  align-content: flex-start;
  margin-top: 52px;
  margin-bottom: 423px;
  max-height: 70px;
  color: #1e376a;
}
.main-dataPlace__item3 {
  margin-left: 43px;
}
.main-dataPlace__item4 {
  margin-left: 43px;
}

.mainInformation {
  display: flex;
  justify-content: space-between;
  font-family: "Montserrat";
  font-style: normal;
}

.mainInformation-item {
  min-width: 270px;
  background: linear-gradient(0deg, #ffffff 0%, #f5f7ff 100%);
  box-shadow: 0px -8px 0px #f1f3ff;
  border-radius: 24px;
  flex-grow: 1;
}

.mainInformation-item__title {
  padding: 30px 0 6px 30px;
}
.mainInformation-item__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #1e376a;
  padding: 6px 0 50px 30px;
}

.title2 {
  text-align: center;
  margin-top: 120px;
  margin-bottom: 56px;
}

.column-item {
  display: flex;
  background: #ffffff;
  box-shadow: 0px 14px 50px rgba(132, 154, 182, 0.12);
  border-radius: 24px;
}
.column-item__img1 {
  padding: 15px 47px 18px 50px;
}
.column-item__text {
  align-self: center;
}
.column-item__number {
  flex-grow: 1;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  color: #4c68ef;
  text-align: right;
  padding: 30px 30px 0 0;
}
.column-item__img2 {
  padding: 13px 89px 13px 48px;
}
.column-item__img3 {
  padding: 39px 58px 23px 50px;
}
.column-item__img4 {
  padding: 13px 83px 13px 71px;
}
.column-item__img5 {
  padding: 49px 63px 48px 71px;
}
.title3 {
  margin-top: 264px;
  margin-bottom: 69px;
}
.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.skills-item {
  width: 48%;
  margin: 60px 0 0 0;
}
.skills-item__number {
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;
  color: #4c68ef;
  padding-bottom: 10px;
}
.skills-item__hr {
  height: 1px;
  background: #edeff9;
}
.skills-item__title {
  padding-top: 30px;
  padding-bottom: 12px;
}
.skills-item__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #1e376a;
}
.blokColor {
  margin-top: 92px;
  background: linear-gradient(5.94deg, #6378da 5.81%, #8c9ce4 94.86%);
  border-radius: 50px;
  color: #ffffff;
}
.title4 {
  padding: 120px 0 71px 100px;
  color: white;
}
.blokColor-text {
  display: flex;
  margin-left: 100px;
  margin-right: 138px;
  justify-content: space-between;
  width: 90%;
}
.blokColor-text__item {
  color: #ffffff;
  border-left: 3px solid rgba(255, 255, 255, 0.5);
  padding-left: 16px;
}
.blokColor__button {
  background: linear-gradient(
    173.48deg,
    #2be9a3 7.91%,
    #07cdbf 56.39%,
    #00c7c5 66.53%,
    #09c7ca 74.43%,
    #21c9d8 89.08%,
    #48cbee 107.12%,
    #66ccff 119.52%
  );
  box-shadow: 0px 22px 36px rgba(1, 200, 197, 0.3);
  border-radius: 12px;
  margin: 67px 0 120px 100px;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  color: #ffffff;
  padding: 12px 36px 13px 37px;
}
.title5 {
  margin-top: 181px;
  margin-bottom: 60px;
}
.dropdown-item {
  display: flex;
  min-height: 72px;
  border-radius: 24px;
  margin-bottom: 10px;
}
.dropdown-item__number {
  border-top-left-radius: 24px;
  border-bottom-left-radius: 24px;
  padding: 18px 29px 18px 35px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  flex-grow: 0;
  color: #ffffff;
  background: #a7b5f2;
}
.namber10 {
  padding: 18px 26px 18px 28px;
}
.dropdown-item__title {
  padding: 18px 0 18px 30px;
  background: #f5f7ff;
  flex-grow: 1;
}
.dropdown-item__img {
  flex-grow: 0;
  padding: 16px 30px 16px 0;
}
.title6 {
  padding: 120px 0 50px 0;
}
.autors-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.autors-container__item-text {
  padding-top: 113px;
}
.autors-container__item-img {
  padding-top: 113px;
  flex-basis: 23%;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
}
.big-img {
  flex-basis: auto;
}
.autors-container__title {
  padding-left: 20px;
}
.autors-container__sabtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #1e376a;
  padding-left: 20px;
  padding-bottom: 30px;
}
.autors_container__list {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  list-style-image: url(/img/el-list.png);
  color: #1e376a;
}
.autors-container__link {
  list-style: none;
  list-style-image: url(/img/el-list.png);
}
.autors-subtitle {
  text-align: center;
  background: #ffffff;
  padding-bottom: 50px;
  font-weight: 400;
font-size: 14px;
line-height: 22px;
color: #1E376A;
border-bottom-left-radius: 24px;
border-bottom-right-radius: 24px;
}
.container-sliders {
background: #FFFFFF;
box-shadow: 0px 70px 80px rgba(52, 69, 134, 0.05);
border-radius: 50px;
}
.sliderImg {
  padding: 100px 0 166px 100px;
  border: 1px black solid;
}
.title7 {
  border: 1px black solid;

}