/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

a {
  text-decoration: none;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
}
.container {
  max-width: 1440px;
  background: #F5F7FF;
  font-family: "Montserrat";
  font-style: normal;
  margin-left: 135px;
  margin-right: 135px;
  border: 1px solid black;
}
header {
  display: flex;
}
.logo {
  padding: 50px 116px 79px 0;
  flex-grow: 0;
}
.navigation {
  
  padding-top: 50px;
  padding-bottom: 82px;
  flex-grow: 1;
  

}
.nav-list {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  color: #1e376a;
}
.main-title {
  font-weight: 700;
  font-size: 42px;
  line-height: 62px;
  color: #1e376a;
}
.subtitle {
  margin-top: 30px;
  font-weight: 400;
  font-size: 20px;
  line-height: 36px;
  color: #1e376a;
}
.buttom1 {
  margin-top: 44px;
  margin-right: 40px;
  padding: 12px 37px 16px 36px;
  background: linear-gradient(
    173.48deg,
    #2be9a3 7.91%,
    #07cdbf 56.39%,
    #00c7c5 66.53%,
    #09c7ca 74.43%,
    #21c9d8 89.08%,
    #48cbee 107.12%,
    #66ccff 119.52%
  );
  box-shadow: 0px 22px 36px rgba(1, 200, 197, 0.3);
  border-radius: 12px;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  color: #ffffff;
}
.programstady {
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  color: #4c68ef;
}
.data-place {
  display: flex;
  flex-flow: column wrap;
  align-content: flex-start;
  margin-top: 52px;
  margin-bottom: 423px;
  max-height: 70px;
  color: #1e376a;
}
.data-place__item1 {
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
}
.data-place__item2 {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
}
.data-place__item3 {
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  margin-left: 43px;
}
.data-place__item4 {
  margin-left: 43px;

  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
}

.row {
  display: flex;
  justify-content: space-between;
  font-family: "Montserrat";
  font-style: normal;
}

.row-item {
  min-width: 270px;
  background: linear-gradient(0deg, #ffffff 0%, #f5f7ff 100%);
  box-shadow: 0px -8px 0px #f1f3ff;
  border-radius: 24px;
  flex-grow: 1;
}

.row-item__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 38px;
  color: #4c68ef;
  padding: 30px 0 6px 30px;
}
.row-item__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #1e376a;
  padding: 6px 0 50px 30px;
}

.title2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;
  color: #1e376a;
  text-align: center;
  margin-top: 120px;
  margin-bottom: 56px;
}

.column-item {
  display: flex;
  background: #ffffff;
  box-shadow: 0px 14px 50px rgba(132, 154, 182, 0.12);
  border-radius: 24px;
}
.column-item__img1 {
  padding: 15px 47px 18px 50px;
}
.column-item__text {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #1e376a;
  align-self: center;
}
.column-item__number {
  flex-grow: 1;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  color: #4c68ef;
  text-align: right;
  padding: 30px 30px 0 0;
}
.column-item__img2 {
  padding: 13px 89px 13px 48px;
}
.column-item__img3 {
  padding: 39px 58px 23px 50px;
}
.column-item__img4 {
  padding: 13px 83px 13px 71px;
}
.column-item__img5 {
  padding: 49px 63px 48px 71px;
}
.title3 {
  margin-top: 264px;
  margin-bottom: 69px;
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;
  color: #1e376a;
}
.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.skills-item {
  width: 48%;
  margin: 60px 0 0 0;
  
}
.skills-item__number {
font-weight: 700;
font-size: 36px;
line-height: 54px;
color: #4C68EF;
padding-bottom: 10px;
}
.skills-item__hr {
  height: 1px;
  background: #EDEFF9;
    
}
.skills-item__title {
font-weight: 700;
font-size: 24px;
line-height: 38px;
color: #1E376A;
padding-top: 30px;
padding-bottom: 12px;
}
.skills-item__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #1E376A;
  
}
.main {
  margin-top: 92px;
  background: linear-gradient(5.94deg, #6378DA 5.81%, #8C9CE4 94.86%);
  border-radius: 50px;

}
.main__title {
  padding: 120px 0 71px 100px;
  font-weight: 700;
font-size: 36px;
line-height: 54px;
color: #FFFFFF;
}
.main-text {
  display: flex;
  margin-left: 100px;
  margin-right: 138px;
  justify-content: space-between;
  width: 90%;

}
.main-text__item {
font-weight: 700;
font-size: 20px;
line-height: 36px;
color: #FFFFFF;
border-left: 3px solid rgba(255, 255, 255, .5);
padding-left: 16px;

}
.main__button {
background: linear-gradient(173.48deg, #2BE9A3 7.91%, #07CDBF 56.39%, #00C7C5 66.53%, #09C7CA 74.43%, #21C9D8 89.08%, #48CBEE 107.12%, #66CCFF 119.52%);
box-shadow: 0px 22px 36px rgba(1, 200, 197, 0.3);
border-radius: 12px;
margin: 67px 0 120px 100px;
font-weight: 600;
font-size: 16px;
line-height: 28px;
text-align: center;
color: #FFFFFF;
padding: 12px 36px 13px 37px;

}
.title4 {
font-weight: 700;
font-size: 36px;
line-height: 54px;
text-align: center;
color: #1E376A;
margin-top: 181px;
margin-bottom: 60px;
  
}
.dropdown-item {
display: flex;
min-height: 72px;
border-radius: 24px;
margin-bottom: 10px;

}
.dropdown-item__number {
border-top-left-radius: 24px;
border-bottom-left-radius: 24px;
padding: 18px 29px 18px 35px;
font-weight: 700;
font-size: 20px;
line-height: 36px;
flex-grow: 0;
color: #FFFFFF;
background: #A7B5F2;
}
.namber10 {
padding: 18px 26px 18px 28px;
}
.dropdown-item__title {
padding: 18px 0 18px 30px;  
font-weight: 700;
font-size: 20px;
line-height: 36px;
background: #F5F7FF;
color: #1E376A;
flex-grow: 1;
}
.dropdown-item__img {
flex-grow: 0;
padding: 16px 30px 16px 0;
}